// Variables globales
// @import "variables";

// Bootstrap custom
// @import "theme";

// Layout
// @import "layout/navbar";
// @import "layout/footer";

// // Components
// @import "components/buttons";
// @import "components/cards";

:root {
  --tirano-primary: #0066cc;
  --tirano-dark: #1b2631;
  --tirano-accent: #fdf7ec;
}

.permanent-marker-regular {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.tirano-primary {
  color: var(--tirano-PRIMARY);
}
.tirano-dark {
  color: var(--tirano-dark);
}
.tirano-light {
  color: var(--tirano-accent);
}

.section-page {
  width: 100%;
  background: #fff;

  padding: 80px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-title {
  color: var(--tirano-dark);
  font-weight: 700;
  margin-bottom: 15px;
}

.section-subtitle {
  color: #6c757d;
  max-width: 700px;
  margin: 0 auto;
}

body.gallery-open {
  overflow: hidden;
}

body.gallery-open app-navbar {
  display: none !important;
}
