@if (media) {
  <div class="media-overlay" (click)="close()">
    <button class="btn btn-sm btn-outline-danger border-0 btn-close-viewer" (click)="close(); $event.stopPropagation()">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="media-content" (click)="$event.stopPropagation()">
      @if (media.type === 'IMAGE') {
        <img [src]="media.url" [alt]="media.title ?? 'Image'" class="media-image" />
      }

      @if (media.type === 'VIDEO') {
        <video class="media-video" controls autoplay>
          <source [src]="media.url" />
        </video>
      }

      @if (media.type === 'PDF') {
        <iframe [src]="media.url" class="media-pdf"> </iframe>
      }
    </div>
  </div>
}
