@if (media) {
  @if (media.type === 'IMAGE') {
    <img [src]="api.backend_url + media.url" class="w-100" style="max-height: 90vh; object-fit: contain" />

  } @else if (media.type === 'VIDEO') {
    <video controls autoplay class="w-100" style="max-height: 90vh">
      <source [src]="api.backend_url + media.url" />
    </video>

  } @else {
    <div class="text-center p-5">
      <i class="fa-solid fa-file fa-5x mb-4"></i>

      <h5>
        {{ media.filename ?? media.title }}
      </h5>

      <a class="btn btn-primary mt-3" [href]="media.url" target="_blank">
        <i class="fa-solid fa-folder-open me-2"></i>
        Ouvrir le document
      </a>
    </div>
  }
}
