.media-overlay {
  position: fixed;
  inset: 0;

  z-index: 9999;

  background: rgba(0, 0, 0, 0.96);

  display: flex;
  justify-content: center;
  align-items: center;
}

.media-content {
  max-width: 95vw;
  max-height: 95vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.media-image,
.media-video {
  max-width: 95vw;
  max-height: 95vh;

  object-fit: contain;
}

.media-pdf {
  width: 90vw;
  height: 90vh;

  border: none;
}

.btn-close-viewer {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
