<app-page-header title="Messages" icon="fa-solid fa-envelope">
  <app-search-bar (searchChange)="onSearch($event)"> </app-search-bar>
</app-page-header>

<div class="container-fluid">
  @if (loading) {
    <app-loading></app-loading>
  } @else {
    @if (messages.length > 0) {
      <app-data-table
        [columns]="columns"
        [data]="messages"
        [loading]="loading"
        [page]="page"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
        [showViewButton]="true"
        [canEdit]="false"
        [canDelete]="false"
        (view)="open($event)"
        (delete)="delete($event)"
      >
      </app-data-table>

      <app-pagination
        [page]="page"
        [totalPages]="totalPages"
        [total]="total"
        [limit]="limit"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination>
    } @else {
      <app-state-view type="empty"> </app-state-view>
    }
  }
</div>

<!-- =========================================================
     MESSAGE DETAIL
========================================================= -->

<app-modal size="xl" [show]="show" [title]="selected?.fullname ?? 'Message'" (closed)="close()">
  <app-admin-message-detail-page [message]="selected" (messageChanged)="onMessageChanged($event)">
  </app-admin-message-detail-page>
</app-modal>
