<div class="public-page">
  <!-- BACKGROUND FIXE -->
  <div class="public-background"></div>

  <div class="public-content">
      <app-public-navbar></app-public-navbar>

    <main>
      <!-- ACCUEIL -->
      <section id="accueil" class="min-vh-100 py-5 d-flex align-items-center">
        <div class="container">
          <app-home-page></app-home-page>
        </div>
      </section>

      <!-- SERVICES -->
      <section id="services" class="min-vh-100 py-5 d-flex align-items-center container-page">
        <div class="container">
          <app-service-list-page></app-service-list-page>
        </div>
      </section>

      <!-- PROJETS -->
      <section id="projets" class="min-vh-100 py-5 d-flex align-items-center container-page">
        <div class="container">
          <app-project-list-page></app-project-list-page>
        </div>
      </section>

      <!-- PRODUITS -->
      <section id="produits" class="min-vh-100 py-5 d-flex align-items-center container-page">
        <div class="container">
          <app-product-list-page></app-product-list-page>
        </div>
      </section>

      <!-- ACTUALITÉS -->
      <section id="actualites" class="min-vh-100 py-5 d-flex align-items-center container-page">
        <div class="container">
          <app-article-list-page></app-article-list-page>
        </div>
      </section>

      <!-- CONTACT -->
      <section id="contact" class="min-vh-100 py-5 d-flex align-items-center">
        <div class="container">
          <app-contact-page></app-contact-page>
        </div>
      </section>
    </main>

    <app-footer></app-footer>
  </div>
</div>
