<aside class="bg-dark text-white p-3 vh-100">
  <div class="mb-4">
    <h5>
      <i class="fa-solid fa-building text-white"></i>
      <span class="text-white">Admin</span>
    </h5>
  </div>

  <ul class="nav nav-pills flex-column gap-2">
    @for (menu of menus; track menu.link) {
      <li class="nav-item">
        <a
          class="nav-link d-flex align-items-center text-white"
          [routerLink]="menu.link"
          routerLinkActive="bg-primary"
          [routerLinkActiveOptions]="{ exact: menu.link === '/admin' }"
        >
          <i [class]="menu.icon"></i>

          <span class="ms-2">
            {{ menu.label }}
          </span>
        </a>
      </li>
    }
  </ul>
</aside>
