<app-page-header title="Services" subtitle="Gestion des services proposees" icon="fa-solid fa-users">
  <div class="d-flex gap-2 flex-wrap">
    <div class="search-wrapper">
      <app-search-bar (searchChange)="onSearch($event)"></app-search-bar>
    </div>
    <button class="btn btn-sm btn-primary">
      <i class="fa-solid fa-plus"></i>
      Ajouter
    </button>
  </div>
</app-page-header>

<div class="container-fluid">
  @if (loading) {
    <app-loading></app-loading>
  } @else {
    @if (services.length) {
      <app-data-table></app-data-table>

      <app-pagination
        [page]="page"
        [total]="total"
        [limit]="limit"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination>
    } @else {
      <app-state-view type="empty"> </app-state-view>
    }
  }
</div>
